<div class="row">
    <div ng-controller="EditWorkoutCtrl as editWorkout">
        <h1>Edit Workout</h1>

        <form id="editWorkoutForm" name="editWorkoutForm" class="form-horizontal" role="form"
              ng-submit="editWorkout.editWorkout()">
            <legend class="sm-col-12">Basic Information</legend>

            <div class="form-group">
                <label id="lbl_workoutName" class="col-sm-4 control-label">Workout name</label>

                <div class="col-sm-8">
                    <input type="text" class="form-control" name="workoutName" id="workoutName"
                           placeholder="{{editWorkout.workout.name}}" ng-model="editWorkout.workout.name">
                </div>
            </div>

            <div class="form-group">
                <label id="lbl_workoutDate"  class="col-sm-4 control-label">Workout date</label>

                <div class="col-sm-8">
                    <input type="date" class="form-control" name="workoutDate" id="workoutDate"
                           placeholder="{{editWorkout.workout.date}}" ng-model="editWorkout.workout.date">
                </div>
            </div>

            <div class="form-group">
                <label id="lbl_workoutDistanceMeters"  class="col-sm-4 control-label">Workout distance (meters)</label>

                <div class="col-sm-8">
                    <input type="number" class="form-control" name="workoutDistanceMeters" id="workoutDistanceMeters"
                           placeholder="{{editWorkout.workout.distanceMeters}}" ng-model="editWorkout.workout.distanceMeters">
                </div>
            </div>

            <div class="form-group">
                <label id="lbl_workoutDurationSeconds"  class="col-sm-4 control-label">Workout time (seconds)</label>

                <div class="col-sm-8">
                    <input type="number" class="form-control" name="workoutDurationSeconds" id="workoutDurationSeconds"
                           placeholder="{{editWorkout.workout.durationSeconds}}" ng-model="editWorkout.workout.durationSeconds">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-8 text-right">
                    <a ng-href="/#/" id="btn_cancel" class="btn btn-warning">Cancel</a>

                    <button type="submit" class="btn btn-success" id="btn_create">Save</button>

                </div>
            </div>
        </form>

        <form id="deleteWorkoutForm" name="deleteWorkoutForm" class="form-horizontal" role="form" ng-submit="editWorkout.deleteWorkout()">
            <button class="btn btn-danger" id="btn_delete">Delete</button>
        </form>
    </div>
</div>

