<div class="row" ng-controller="WorkoutCtrl as wc">
    &NonBreakingSpace;

    <div class="jumbotron">
        <h2>Workout Tracker</h2>
    </div>

    <div class="row">
        <div class="form-group">
            <h3>
                Workouts
            </h3>
            <a ng-href="/#/workout/add" class="btn btn-primary pull-right" id="btn_workout_add">Add Workout</a><br/><br/><br/>
            <a ng-href="/#/report" class="btn btn-primary pull-right" id="btn_report">Reports</a>
            <table id="workout_list" class="table table-striped">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Distance</th>
                    <th>Time</th>
                    <th>Speed</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="workout in wc.workouts">
                    <td>
                        {{ workout.name }}
                    </td>
                    <td>
                        {{ workout.date }}
                    </td>
                    <td>
                        {{ workout.distanceMeters }}
                    </td>
                    <td>
                        {{ workout.durationSeconds }}
                    </td>
                    <td>
                        {{ workout.speed }}
                    </td>
                    <td>
                        <a ng-href="/#/workout/{{ workout.id }}" class="btn btn-primary pull-right" id="btn_workout_edit">Edit</a>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">Summary</td>
                    <td>{{wc.summary.totalDistance}}</td>
                    <td>{{wc.summary.totalTime}}</td>
                    <td>{{wc.summary.avgSpeed}}</td>
                    <td></td>
                </tr>
                <tr ng-hide="wc.workouts.length">
                    <td colspan="5">
                        <p class="text-center">No Workouts found</p>
                    </td>
                </tr>
                </tbody>
            </table>
            <hr>

            <div class="form-group">
                <label id="lbl_startDate"  class="col-sm-4 control-label">Start Date</label>

                <div class="col-sm-8">
                    <input type="date" class="form-control" name="startDate" id="startDate"
                           placeholder="{{ wc.startDate }}" ng-model="wc.startDate">
                </div>
            </div>

            <div class="form-group">
                <label id="lbl_endDate"  class="col-sm-4 control-label">End Date</label>

                <div class="col-sm-8">
                    <input type="date" class="form-control" name="endDate" id="endDate"
                           placeholder="{{ wc.endDate }}" ng-model="wc.endDate">
                </div>
            </div>
            <a ng-href="/#/{{ wc.startDate }}/{{ wc.endDate }}" class="btn btn-primary pull-right" id="btn_filter">Filter</a>

            <hr>
        </div>
    </div>
</div>